{{!< default}}

{{#post}}

<section class="home-hero" {{#if feature_image}}style="background-image: url({{feature_image}});"{{/if}}>
    <div class="hero-overlay">
        <div class="hero-content">

            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" class="hero-logo">
            {{/if}}

            <h1 class="hero-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="hero-tagline">{{custom_excerpt}}</p>
            {{/if}}

<div class="hero-player">
  <audio id="audio-player" controls controlsList="nodownload">
    <source src="/content/media/2026/02/Time_For_A_War_Master_B_11192025.mp3" type="audio/mp3">
  </audio>

  <ul class="playlist">
    <li data-src="/content/media/2026/02/Time_For_A_War_Master_B_11192025.mp3" class="active">
      Repo Man - Time For A War
    </li>
    <li data-src="/content/media/2026/02/HannahEx1.mp3">
      Malaria 51 - No Confíes En Nadie
    </li>
    <li data-src="/content/media/2026/02/HannahEx3.mp3">
      Malaria 51 - Pathless Decent
    </li>
  </ul>
</div>


    </div>
</section>

{{/post}}
