{{!< default}}

{{#post}}

<section class="home-hero" {{#if feature_image}}style="background-image: url({{feature_image}});"{{/if}}>
    <div class="hero-overlay">
        <div class="hero-content">

            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" class="hero-logo">
            {{/if}}

            <h1 class="hero-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="hero-tagline">{{custom_excerpt}}</p>
            {{/if}}

        <div class="hero-player">
    <iframe
        width="100%"
        height="120"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/soundcloud%253Aplaylists%253A340859&color=%23060606&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/americanbigelow" title="americanbigelow" target="_blank" style="color: #cccccc; text-decoration: none;">americanbigelow</a> · <a href="https://soundcloud.com/americanbigelow/sets/music-examples"">      
        </div>
    </div>
</section>

{{/post}}
